@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap");
/*Inicia estilo de header*/
header {
  padding: 10px 15px;
  margin-inline: 5px;
  z-index: 99999;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 10px;
  background: rgba(255, 255, 255, 0.63);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 5px; }
  header .nav-links {
    list-style: none;
    display: flex;
    margin-bottom: 0px; }
    header .nav-links li {
      padding: 10px 12px;
      background: #edf0f7;
      border-radius: 15px;
      margin: 0 5px;
      align-items: center;
      text-align: center;
      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
      header .nav-links li:hover {
        transform: translateY(-2px); }
      header .nav-links li a {
        font-size: 14px;
        color: #303030;
        text-decoration: none; }
  header .movil-logo,
  header .logo-container {
    display: flex;
    padding: 0px !important;
    background: transparent !important; }
  header .photo-logo {
    border-radius: 15px;
    width: 45px;
    cursor: pointer;
    display: flex; }
  header #reproductor {
    background: #303030;
    text-align: center;
    flex-grow: 1; }
  header #contacto-btn {
    background-color: #5532dc; }

ol, ul {
  padding-left: 0px !important; }

* {
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box; }

html {
  font-size: 18px; }

p {
  color: #303030;
  font-size: 16px;
  font-weight: 300; }

body {
  max-width: 1200px;
  display: block;
  margin-inline: auto !important;
  padding-inline: 15px; }

input {
  border: none;
  padding: 4px 4px;
  background-color: #ffffffb3;
  border-radius: 5px;
  margin-inline: 5px;
  margin-block: 5px !important; }

/*Titulares*/
.titular {
  font-size: 4em;
  color: #ffffff;
  font-weight: 750;
  line-height: 1em;
  padding: 10px 0px 10px 0px; }

h1.titular-dark {
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 10px; }

.subtitulo {
  font-size: 3.25em;
  color: #303030;
  font-weight: 750; }

.sub-reciente {
  font-size: 1.3em;
  color: #303030;
  font-weight: 750;
  padding: 5px 0px 5px 0px; }

/*Footer*/
footer {
  background-color: #5532dc;
  font-size: 12px;
  font-weight: 300;
  position: absolute;
  left: 0;
  width: 100vw;
  margin-top: auto; }

img.icon {
  width: 24px;
  margin-inline: 3px; }

.arrow {
  width: 16px;
  height: 16px;
  background: white;
  padding: 3px 3px;
  border-radius: 5px;
  margin-right: 5px; }

.bg-arrow {
  width: 8px; }

/*botones*/
.boton button,
.btn-underline button,
.btn-underline-dark button {
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  cursor: pointer; }

.boton button {
  background: #5532dc;
  color: #ffffff;
  border-radius: 15px;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  cursor: pointer; }

.btn-underline button {
  text-decoration: underline;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  cursor: pointer; }

.btn-underline-dark button {
  text-decoration: underline;
  background-color: transparent;
  color: #303030;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  cursor: pointer; }

/*Elementos*/
.badge {
  background-color: #7344cc;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px; }

.badge-intro {
  background-color: #7344cc;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  color: white;
  font-size: 14px; }

.badge-destacado {
  background-color: #7344cc;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  color: #303030;
  font-size: 16px;
  font-weight: 800; }

.badge-categoria {
  background-color: #7344cc;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  color: white;
  font-size: 14px;
  text-align: center;
  float: right; }

.block-gray {
  background-color: #edf0f7;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 15px;
  padding: 10px; }

.round {
  border-radius: 20px; }

.txt-light {
  color: rgba(255, 255, 255, 0.9) !important; }

/*Bloques home*/
#inicio {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 95vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  #inicio .intro {
    grid-area: 1 / 1 / 4 / 3;
    background-image: url("../images/Purple-gradient.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out; }
    #inicio .intro:hover {
      transform: scale(1.02); }
  #inicio .destacado {
    grid-area: 1 / 3 / 3 / 5;
    background-image: url("../images/lvne.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out; }
    #inicio .destacado:hover {
      transform: scale(1.02); }
  #inicio .reciente {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url("../images/NDC.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s ease-in-out; }
    #inicio .reciente:hover {
      transform: scale(1.02); }
  #inicio .reciente-info {
    grid-area: 3 / 4 / 4 / 5;
    background: #edf0f7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out; }
    #inicio .reciente-info:hover {
      transform: scale(1.02); }
  #inicio .btn-intro-container {
    padding-top: 25px; }
  #inicio .icon-container {
    margin-top: 10%; }

.cta-home {
  background-color: #edf0f7;
  border-radius: 20px;
  text-align: center;
  padding: 5% 14%;
  background: #edf0f7; }

/* Bloques contacto */
#me-whatsapp {
  background-color: #edf0f7ab;
  padding: 15px 20px;
  border-radius: 20px 20px 0px;
  margin: 20px;
  width: 90%; }

#send-whatsapp {
  background-color: #d4f9d5de;
  padding: 15px 20px;
  border-radius: 20px 20px 20px 0px;
  margin: 20px;
  width: 80%; }

#contacto {
  background-image: url("../images/Purple-gradient.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  overflow: hidden; }

main#contacto {
  display: flex;
  align-items: center;
  padding-inline: 30px;
  margin-bottom: 5vh;
  margin-top: 5vh; }
  main#contacto .ctn-shape {
    width: 180% !important; }
  main#contacto .no-margen {
    margin: 0px; }
  main#contacto .nombre-contacto {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 10px; }
    main#contacto .nombre-contacto .name-wa {
      line-height: 0.2;
      margin-top: 18px; }
    main#contacto .nombre-contacto p.txt-light {
      margin: 0px; }
    main#contacto .nombre-contacto h3 {
      margin: 0px; }

/*Bloques sobre mi*/
main#sobre-mi {
  display: flex;
  height: 90vh;
  align-items: center;
  gap: 20px; }
  main#sobre-mi .badge-intereses {
    background-color: #5432dc77;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
    display: inline-flex;
    margin-top: 10px; }
  main#sobre-mi .badge-gray {
    background-color: #303030;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px; }
  main#sobre-mi .experiencia {
    padding: 20px;
    background: #edf0f7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    display: inline-flex;
    margin-inline: 10px;
    margin-top: 20px;
    align-items: flex-start; }

img.photo-yo {
  width: 60px;
  border-radius: 10px; }

/*proyectos*/
.cta-proyectos {
  background-color: #edf0f7;
  border-radius: 20px;
  text-align: center;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow: hidden; }

.search-proyectos {
  border: none;
  padding: 0px 20px;
  background-color: #edf0f7;
  border-radius: 30px;
  height: 50px; }

.mask img {
  position: relative;
  object-fit: cover; }

.filer-portfolio {
  background-color: #5432dc;
  color: white;
  padding: 10px 15px;
  text-align: center;
  border-radius: 15px;
  font-size: 14px;
  display: inline-block;
  margin-top: 10px; }
  .filer-portfolio:active {
    background-color: #303030; }

#proyectos {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 95vh;
  padding-top: 5vh;
  padding-bottom: 5vh; }
  #proyectos .proyecto1,
  #proyectos .proyecto2,
  #proyectos .proyecto3,
  #proyectos .proyecto4,
  #proyectos .proyecto5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out; }
    #proyectos .proyecto1:hover,
    #proyectos .proyecto2:hover,
    #proyectos .proyecto3:hover,
    #proyectos .proyecto4:hover,
    #proyectos .proyecto5:hover {
      transform: scale(1.02); }
  #proyectos .proyecto1 {
    grid-area: 1 / 1 / 3 / 3;
    background-image: url("../images/infografia.jpg"); }
  #proyectos .proyecto2 {
    grid-area: 1 / 3 / 3 / 4;
    background-image: url("../images/Geek.jpg"); }
  #proyectos .proyecto3 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url("../images/kolor.jpg"); }
  #proyectos .proyecto4 {
    grid-area: 3 / 2 / 4 / 3;
    background-image: url("../images/revista.jpg"); }
  #proyectos .proyecto5 {
    grid-area: 3 / 3 / 4 / 4;
    background-image: url("../images/ep.jpg"); }
  #proyectos .mask img {
    position: relative;
    object-fit: cover; }
  #proyectos .filer-portfolio {
    background-color: #5432dc;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 15px;
    font-size: 14px; }
    #proyectos .filer-portfolio:active {
      background-color: #303030; }

/* Carrusel */
li::marker {
  display: none; }

/* fotografia */
.espacio-contenedor {
  padding: 15px;
  margin: 20px 0px; }

.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 95vh;
  padding-top: 5vh;
  padding-bottom: 5vh; }
  .fotos .foto1,
  .fotos .foto2,
  .fotos .foto3,
  .fotos .foto4,
  .fotos .foto5 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out; }
    .fotos .foto1:hover,
    .fotos .foto2:hover,
    .fotos .foto3:hover,
    .fotos .foto4:hover,
    .fotos .foto5:hover {
      transform: scale(1.02); }
  .fotos .foto1 {
    grid-area: 1 / 1 / 3 / 2;
    background-image: url("../images/Foto1.jpg"); }
  .fotos .foto2 {
    grid-area: 1 / 2 / 3 / 3;
    background-image: url("../images/Foto2.png"); }
  .fotos .foto3 {
    grid-area: 1 / 3 / 3 / 4;
    background-image: url("../images/Foto3.jpg"); }
  .fotos .foto4 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url("../images/Foto5.png"); }
  .fotos .foto5 {
    grid-area: 3 / 2 / 4 / 4;
    background-image: url("../images/Foto4.jpg"); }
  .fotos .bloque {
    background-image: url("../images/Purple-gradient.jpg");
    background-size: cover;
    background-position: center; }

/* Lightbox */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #ffffff;
  background-clip: padding-box;
  outline: 0;
  align-items: center; }

.modal.show .modal-dialog {
  transform: none;
  margin-top: 12vh; }

/* Version movil */
@media screen and (max-width: 768px) {
  main#inicio {
    display: inline;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr; }
  .intro {
    grid-area: auto;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 80vh; }
  .destacado {
    grid-area: auto;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 40vh; }
  .reciente,
  .reciente-info {
    grid-area: auto;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    height: 30vh; }
  .cta-home {
    background-color: #edf0f7;
    border-radius: 20px;
    text-align: center;
    padding: 35px 50px;
    margin: 50px 0px; }
  .arrow {
    display: none; }
  header .nav-links li {
    margin-bottom: 5px;
    margin-top: 5px; }
  ul {
    display: none; }
  input:checked ~ ul {
    display: block; }
  #menu {
    display: none; }
  label {
    font-size: 16px;
    color: #ffffff;
    padding: 12px;
    background: #5532dc;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    display: block !important;
    text-align: center;
    /* Estilo del boton cuando el menú está expandido*/ }
    label:hover {
      background: #5532dc; }
    label.checked {
      background: #5532dc; }
  ul {
    margin-top: 0;
    padding: 0; }
  ul.nav-links {
    display: none; }
  li.logo-container {
    display: none; }
  li#reproductor {
    display: none; }
  .intro {
    margin-top: 30px; }
  .ctn-shape {
    width: 140% !important;
    transform: translateY(10%); }
  .shape {
    height: 30vh; }
  #send-whatsapp {
    border-radius: 20px 20px 20px 0px;
    margin-bottom: 30px;
    width: 100%;
    margin: 0px 0px 30px 0px; }
  #me-whatsapp {
    width: 100%;
    margin: 0px 0px 30px 0px; }
  main#sobre-mi {
    flex-direction: column;
    height: auto;
    margin-block: 40px;
    align-items: flex-start !important; }
  .filtros {
    flex-direction: column !important;
    align-content: flex-start !important;
    flex-wrap: wrap !important; }
  main#proyectos {
    display: inline;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr; }
  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4,
  .proyecto5 {
    height: 40vh;
    margin: 20px 0px; }
  img.mask {
    width: 165px; }
  .cta-proyectos h1 {
    margin-left: 30px;
    margin-right: 30px; }
  .cta-fotorgafia {
    display: none; }
  .espacio-contenedor {
    margin-top: 20px 0px; }
  .fotos {
    display: inline;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr; }
  .foto1,
  .foto2,
  .foto3,
  .foto4,
  .foto5 {
    height: 40vh;
    margin: 10px 0px; } }

@media screen and (min-width: 768px) {
  input#menu,
  #label-menu {
    display: none; } }
